{% extends 'LCS/Layout.html' %}
{% block content %}
<h1>CART</h1>

    <section class="container" id="cont">
          <h2 class="section-header">Pack </h2>
    	<div class="cart-row">
    		<span class="cart-item cart-header cart-column">ITEM</span>
    		<span class="cart-price cart-header cart-column">PRICE</span>
    		<span class="cart-quantity cart-header cart-column">QUANTITY</span>

    	</div>
    	<div class="cart-items">

    {% for key,value in request.session.cart.items %}
    <div class="cart-rows">
    							<span class="cart-item cart-column">{{value.name}}</span>
    							<span class="cart-price  cart-column">{{value.price}}</span>

    							<span class="cart-quantity-input cart-column">
    								{{value.quantity}}</span>




    		</div>
    {% endfor %}
    	</div>
    </section>
    {% endblock %}
