{% extends 'LCS/Layout.html' %}

{% block content %}

<section class="container">
<h2 class="section-header">Products</h2>
<i class="fa-solid fa-cart-shopping"></i>

<div class="shop-items">
	{% for i in products %}
                <div class="shop-item ">
                    <span class="shop-item-title">{{i.name}}</span>
                    <img class="shop-item-image" src="https://store.ferrari.com/product_image/30629810019624721/F/w480.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$ {{i.price}}</span>
												<button class="btn btn-primary shop-item-button"><a href="{% url 'cart_add' i.id %}" style="color:white;"> ADD TO CART</a></button>

                        <!-- <a >Add To Pack</a> -->
                    </div>
                </div>
						{% endfor %}
						</div>
</section>

{% load cart_tag %}

<!-- Total Length :: {{request.session.cart|length}} -->

<section class="container" id="cont">
      <h2 class="section-header">Pack </h2>
	<div class="cart-row">
		<span class="cart-item cart-header cart-column">ITEM</span>
		<span class="cart-price cart-header cart-column">PRICE</span>
		<span class="cart-quantity cart-header cart-column">QUANTITY</span>
		<span class="cart-total-title cart-header cart-column">Total </span>
	</div>
	<div class="cart-items">

{% for key,value in request.session.cart.items %}
<div class="cart-rows">
							<span class="cart-item cart-column">{{value.name}}</span>
							<span class="cart-price  cart-column">{{value.price}}</span>
							<button type="button" class="btn btn-light" id="plus">
						      <span class="glyphicon glyphicon-minus">  <a href="{% url 'item_decrement' value.product_id %}"id="a-plus"> - </a> </span>
						     </button>
							<span class="cart-quantity-input cart-column">
								{{value.quantity}}</span>
								<button type="button" class="btn btn-light" id="plus">
									 <span class="glyphicon glyphicon-plus"> <a href="{% url 'item_increment' value.product_id %}"  id="a-plus">  +  </a> </span>
										</button>

			    	<span class="cart-total cart-column">$ {{value.price|multiply:value.quantity}}</span>
<button class="btn btn-outline-danger" type="button"><a href="{% url 'item_clear' value.product_id %}" > Remove </a></button>

		</div>
{% endfor %}
	</div>
</section>
<br>

<div class="container">
	<div>
  <div class="center">
<button type="button" class="btn btn-primary">ADD PACK TO CART</button>
</div></div></div>
<br>
{% endblock %}
