{% extends 'LCS/Layout.html' %}

{% block content %}

<section class="container">
<h2 class="section-header">Products</h2>
<i class="fa-solid fa-cart-shopping"></i>

<div class="shop-items">
	{% for i in products %}
                <div class="shop-item ">
                    <span class="shop-item-title">{{i.ProductName}}</span>
                    <img class="shop-item-image" src="https://store.ferrari.com/product_image/30629810019624721/F/w480.jpg">
                    <div class="shop-item-details;">
                        <span class="shop-item-price">$ {{i.Price}}</span>
                        <button class="btn btn-primary shop-item-button " type="button">ADD TO CART</button>
                    </div>
                </div>
						{% endfor %}
						</div>
</section>
{% endblock %}
